<div class="container">
  <h1 class="text-center">Your source for everything tech!</h1>
  <p class="text-center">
    Welcome to our TechBlog, where we bring you the latest and greatest 
    in technology news and developments! Our team of tech enthusiasts are 
    dedicated to keeping you up-to-date on all things tech, from the latest 
    gadgets and apps to exciting breakthroughs in artificial intelligence and 
    virtual reality. We believe that tech can be both informative and fun, so 
    join us on this exciting journey and let's explore the future together!
  </p>
  {{#if req.session.logged_in}}
    <h3>Want to make a post?</h3>
    <form class="post-form" action="/post" method="post">
    <div class="pcontainer" id="postForm">
      <input type="text" id="postTitle" placeholder="Enter post title" />
      <textarea id="postContent" placeholder="Enter post content"></textarea>
      <button id="submitPostBtn">Submit</button>
    </div>
    </form>
  {{/if}}


      {{#each posts}}
        <div class="posts">
        <h3 class="posts-title">{{this.title}}</h3>
        <p>{{this.content}}</p>
        </div>
      {{/each}}
    

</div>
{{#if req.session.logged_in}}

  <script src="/js/post.js"></script>
{{/if}}