<div class="lContainer" >
  <h1>Login</h1>
  <form class="form login-form" action="/login" method="post">
    <div>
      <label for="email">Email</label>
      <input id="name-login" type="email" class="form-control" id="email" name="email">
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password-login" type="password"  id="password" name="password">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>


  <script src="/js/login.js"></script>